body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    display: flex;


    .navigationSection {
        background-color: aqua;
        width: 18em;
        height: 100%;
    }

    .contentSection {
        background-color: red;
        height: 100%;
        width: 100%;
    }

}
